*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ff7e5f;
  --primary-dark: #eb5e41;
  --primary-light: #ffb199;
  --secondary: #0ba360;
  --text-dark: #333333;
  --text-light: #f8f9fa;
  --background: #ffffff;
  --background-light: #f8f9fa;
  --card-bg: #ffffff;
  --border-radius: 8px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}
h1{
  color: var(--primary);
}
body {
  font-family: poppins, sans-serif;
  color: var(--text-dark);
  background-color: var(--background);
  line-height: 1.6;
}
.container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
header i{
  color: var(--primary-dark);
}

